html {
  font-size: 16px;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.25;
  font-weight: normal;
  color: #191414;
  /* opacity: 0; */
}

@media screen and (max-width: 500px) {
  html {
    font-size: 15px;
  }

  p {
    line-height: 1.1 !important;
  }
}
