header {
  padding: 10px 0;
  background: #fcfbf9;
  border-bottom: 1px solid #191414;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
header .flex {
  align-items: center;
}
header button {
  font-size: 1rem;
}

.mb-show {
  display: none;
}

.mb-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #191414;
  color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: none;
  padding: 10px;
}
.mb-nav.active {
  display: block;
}

/* .close-btn {
  border-bottom: 1px solid #fcfbf9;
  text-align: right;
} */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-btn span {
  width: 30px;
  height: 1px;
  display: block;
  background: #fcfbf9;
  transform: rotate(45deg);
}

.close-btn span:last-child {
  transform: rotate(135deg) translate(0px, 1px);
}

.mb-nav ul {
  border-top: 1px solid #fcfbf9;
  margin-top: 40px;
}

.mb-nav ul li {
  padding: 20px 0;
  border-bottom: 1px solid #fcfbf9;
}

.top_flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.top_flex .btn.no-border {
  padding: 5px 0;
}

.top_flex .btn {
  color: #fff;
}

.header-contact {
  margin-top: 80px;
}

@media screen and (max-width: 500px) {
  header .mb-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 4;
  }

  .mb-show {
    display: block;
  }
}
